# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Repo.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Work\Aletorio\Massimo_Test_For_IronBelly\Repo\.idea\.idea.Repo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
